body, html {
    height: 100%;
    margin: 0;
    font-size: 20px;
}

.your-trip h2{
    font-weight: bold;
    font-size: 25px;
}
.new-container {
    display: flex;
    height: 100%;
    padding: 2%;
}

.new-left-pane, .new-right-pane {
    flex-grow: 1;
}

.new-left-pane {
    background-color: rgb(255, 255, 255);
    padding: 20px; 
    text-align: justify;/* Optional: Background color for left pane */
}

.new-right-pane {
    background-color: rgb(255, 255, 255); 
    padding: 20px; /* Optional: Background color for right pane */
    text-align: left;
}

.new-payment-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.new-data{
    font-size: 20px;
}
.new-data h3{
    font-weight: bold;
    font-size: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    height: 38px; /* Adjust height as needed */
}

input[type="submit"] {
    background-color: #66a3d1;
    width: 100%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #5d97c3;
    width: 100%;
}

input[type="submit"]:focus {
    outline: none;
}

/* Right side */
.new-hotel-detail{
    border: #313131 solid 1px;
    border-radius: 10px;
    margin-top: 150px;
    padding: 8%;
}

.booking-img{
    height: 200px;
    width: 200px;
    border-radius: 10%;
} 

.new-data{
    padding-left: 10%;
}

@media screen and (max-width: 768px) {
    .new-container {
        flex-direction: column;
    }

    .new-left-pane, .new-right-pane {
        flex-grow: initial;
    }
}

/* new */
.new-container {
    margin-bottom: 10px; /* Add margin to separate the containers */
  }
  
  .check-in-container,
  .check-out-container {
    display: flex;
    align-items: center;
  }
  
  .check-in-container label,
  .check-out-container label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .check-in-container input[type="date"],
  .check-out-container input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  #guests{
    border: 0.2px solid gray;
    border-radius: 05px;
    padding-left: 10px;
    margin-left: 15px;
  }

  .guest{
    font-weight: bold;
  }
  
  .check-in-container {
    margin-bottom: -10px; 
  }
  
  .check-out-container {
    padding-top: 10px; 
  }
  